{% extends "base.html"  %}
{% block content %}

<!-- Begin page content -->
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-12">

        <div class="card">
          <div class="card-body p-8">

            <!-- We will create the add form here and re-direct it to /add -->
            <form method="POST" action="/add" class="input-group">
              <div class="form-outline flex-fill">
              {{ template_form.hidden_tag() }}
                {{ template_form.todo(
                  class_='form-control',
                  placeholder='Add a new todo ...',
                  required='required'
                  ) 
                }}
                {{ template_form.submit(class_='btn btn-primary btn-sm  btn-block') }}
              </div>
            </form> 

            <hr />

            <!-- ToDo list content -->
            <ul class="list-group">
              {% for todo in todos %}
              <li class="list-group-item d-flex">
                <div class="mr-auto p-2">
                  {% if todo.completed %}
                    <s>{{ todo.todo_text }}</s>
                  {% else %}
                    {{ todo.todo_text }}
                  {% endif %}
                </div>
                {% if todo.completed %}
                  <div class="p-2"><a href="/update/{{ todo.id }}" class="badge badge-light">Re-open</a></div>
                {% else %}
                  <div class="p-2"><a href="/update/{{ todo.id }}" class="badge badge-success">Done</a></div>
                {% endif %} 
                <div class="p-2"><a href="/delete/{{ todo.id }}" class="badge badge-danger">Delete</a></div>
              </li>
              {% endfor %}
            </ul>
            <!-- Todo list content -->

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}